<%= form_for(@list_activity) do |f| %>
  <% if @list_activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list_activity.errors.count, "error") %> prohibited this list_activity from being saved:</h2>

      <ul>
      <% @list_activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_area :Name %>
  </div>
  <div class="field">
    <%= f.label :ShortName %><br>
    <%= f.text_area :ShortName %>
  </div>
  <div class="field">
    <%= f.label :Grade %><br>
    <%= f.text_field :Grade %>
  </div>
  <div class="field">
    <%= f.label :Gradeoutof %><br>
    <%= f.text_field :Gradeoutof %>
  </div>
  <div class="field">
    <%= f.label :Percentage %><br>
    <%= f.text_field :Percentage %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
