<p id="notice"><%= notice %></p>

<h1>Activities - Give grades to the numeric activities:</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Shortname</th>
      <th>Grade</th>
      <th>Gradeoutof</th>
      <th>Percentage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @list_activities.each do |list_activity| %>
      <tr>
        <td><%= list_activity.Name %></td>
        <td><%= list_activity.ShortName %></td>
        <td><%= list_activity.Grade %></td>
        <td><%= list_activity.Gradeoutof %></td>
        <td><%= list_activity.Percentage %></td>
        <td><%= link_to 'Show', list_activity %></td>
        <td><%= link_to 'Edit', edit_list_activity_path(list_activity) %></td>
        <td><%= link_to 'Destroy', list_activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<thead>
      <tr>
      <th><b>TOTAL</b></th>
      <th colspan="3"></th>
    </tr>
</thead>
<br>

<button type="button" onclick="alert('Will fix to calculate average')">AVERAGE</button>
<button type="button" onclick="alert('Will fix to calculate mean')">MEAN</button>

<br>
<%= link_to 'New List activity', new_list_activity_path %>
