<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @list_activity.Name %>
</p>

<p>
  <strong>Shortname:</strong>
  <%= @list_activity.ShortName %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @list_activity.Grade %>
</p>

<p>
  <strong>Gradeoutof:</strong>
  <%= @list_activity.Gradeoutof %>
</p>

<p>
  <strong>Percentage:</strong>
  <%= @list_activity.Percentage %>
</p>

<%= link_to 'Edit', edit_list_activity_path(@list_activity) %> |
<%= link_to 'Back', list_activities_path %>
