<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" type="text/css" href="activities.css">
</head>

<p id="notice"><%= notice %></p>

<body>


<h1>Grade Calculator</h1>
<h3>Activities</h3>

<p>Give grades to the numeric activities:</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Short Name</th>
      <th>Grade</th>
      <th>Percentage</th>
      <th colspan="10"></th>
    </tr>
  </thead>


  <tbody>
    <% @activities.each do |activity| %>
    
      <tr>
        <td>Activity <%= activity.id %></td>
        <td>A<%= activity.id %></td>
        <td><%= activity.grade %> / <%= activity.gradeoutof %></td>
        <td><%= 100*activity.grade/activity.gradeoutof %>%</td>
        <td><%= link_to 'Fix this Grade', edit_activity_path(activity) %></td>
        <td><%= link_to 'Remove this Activity', activity, method: :delete, data: { confirm: 'Are you sure you want to delete this activity?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<thead>
      <tr>
      <th><b>TOTAL</b></th>
      <th colspan="3"></th>
    </tr>
</thead>
<br>

<button type="button" onclick="alert('Will fix to calculate average')">AVERAGE</button>
<button type="button" onclick="alert('Will fix to calculate mean')">MEAN</button>

<br>
<%= link_to 'Add an Activity', new_list_activity_path %>


</body>

</html>