<p id="notice"><%= notice %></p>

<p>
  <strong>Grade:</strong>
  <%= @activity.grade %>
</p>

<p>
  <strong>Gradeoutof:</strong>
  <%= @activity.gradeoutof %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
